@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
   html{
      height: auto;
      width: auto;
      overflow-x: hidden;
      scroll-behavior: smooth;
   }
   .Nav ul li{
      @apply mx-6 px-4;
   }
   .navbar{
      transition: width 1s;
   }
   .title{
      @apply text-2xl sm:text-3xl mt-16 font-semibold;
   }
   .about{
      /* @apply animate-pulse; */
   }

   .proj{
      @apply relative h-[80%] w-full mt-10 flex flex-col-reverse justify-center gap-2 items-center md:items-start md:gap-10 xl:gap-20
   }
   .projCard{
      @apply flex flex-col items-center justify-center gap-2 h-[25rem] w-[98%] min-[375px]:w-[90%] rounded-[1rem] shadow-[5px_5px_30px_5px_rgba(0,0,0,0.25)]  hover:shadow-[1px_1px_10px_4px_rgba(0,0,0,0.25)] dark:hover:shadow-[0px_0px_0px_0px_rgba(0,0,0,0.25)] transition-all duration-300 backdrop-blur-md md:w-[60%]  md:w-1/2 bg-white/50 dark:bg-slate-900 z-10 xl:w-[33rem];
   }
   .dotClass{
      @apply absolute w-full flex justify-center -top-5 lg:top-5;
   }
   .projDot{
      @apply h-[1.5rem] w-[1.5rem] border-4 border-purple-800 bg-white dark:bg-black rounded-full z-[11];
   }
   .projInfo{
      @apply relative h-[3rem] w-full flex flex-col md:h-full lg:mt-3 items-center justify-center z-10 md:w-1/2 xl:w-[33rem]
   }
   .projDate{
      @apply h-10 flex items-center md:text-lg lg:text-2xl max-lg:bg-white/30 shadow-md max-lg:dark:bg-higherCardColor rounded-lg px-2 backdrop-blur-sm
   }
   .shortDetail{
      @apply mt-4 px-4 text-justify hidden md:text-lg md:flex;
   }
   .photo{
      @apply max-[315px]:h-[55%] h-[65%] lg:h-[70%] w-[90%] min-[490px]:pt-6 rounded-xl flex items-center justify-center;
   }
   .con{
      @apply h-[25%] lg:h-[20%] w-[90%] flex justify-between items-center;
   }
   .det{
      @apply h-full w-full flex flex-col justify-center gap-2;
   }
   .name,
   .stack{
      @apply h-[2rem] w-[90%]  lg:ml-4 rounded-full;
   }
   .name{
      @apply leading-normal max-[372px]:text-[1.1rem] max-[396px]:text-[1.2rem] max-[460px]:text-[1.3rem] text-2xl font-semibold;
   }
   .stack{
      @apply h-[1.6rem] text-sm opacity-70;
   }
   .gitIcon{
      @apply h-[3rem] w-[3rem] mt-4 flex items-center justify-center text-4xl rounded-full;
   }


   .modes{
      @apply cursor-pointer lg:mr-2 mr-14;
   }

   .techstack img{
      @apply max-sm:h-10 max-md:h-12;
   }


   .feedform input, 
   .feedform textarea{
      @apply w-[98%] h-[3rem] min-[495px]:h-auto min-[495px]:w-[80%] md:w-[24rem] rounded-md p-3 outline-0 text-lg text-black dark:text-white bg-slate-700/20 dark:bg-slate-100/20; 
   }
   .feedform textarea{
      @apply h-[6rem]
   }
   .btn{
      @apply w-[12rem] h-8 cursor-pointer bg-blue-500 rounded-full flex justify-center items-center text-white dark:text-black text-[1.05rem] font-semibold transition-all duration-300 ease-in-out hover:text-white dark:hover:text-white hover:bg-slate-700;
   }
}